<div class="panel-heading">
	List of dogs
</div>
<div class="panel-body" v-if="$loadingRouteData">
	Loading data {{ loadingRouteData }}
</div>
<div class="panel-body" v-if="messages.length > 0">
	<div v-for="message in messages" class="alert alert-{{ message.type }} alert-dismissible" role="alert">
		{{ message.message }}
	</div>
</div>

<div class="panel-body" v-if="dogs.length == 0">
	You have no dogs!
</div>

<table class="table" v-if=" ! $loadingRouteData && dogs.length > 0">
	<thead>
		<tr>
			<th>ID</th>
			<th>Za co</th>
			<th>Kwota</th>
			<th>Styczeń</th>
			<th>Luty</th>
			<th>Marzec</th>
            <th>kwiecien</th>
            <th>maj</th>
            <th>czerwiec</th>
            <th>lipiec</th>
            <th>sierpien</th>
            <th>wrzesien</th>
            <th>pazdziernik</th>
            <th>listopad</th>
            <th>grudzien</th>
            <th width="120px">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="dog in dogs">
			<td>{{ dog.id }}</td>
			<td>{{ dog.zaco }}</td>
			<td>{{ dog.kwota }}</td>
            <td>{{ dog.styczen }}</td>
            <td>{{ dog.luty }}</td>
            <td>{{ dog.marzec }}</td>
            <td>{{ dog.kwiecien }}</td>
            <td>{{ dog.maj }}</td>
            <td>{{ dog.czerwiec}}</td>
            <td>{{ dog.lipiec }}</td>
            <td>{{ dog.sierpien }}</td>
            <td>{{ dog.wrzesien }}</td>
            <td>{{ dog.pazdziernik}}</td>
            <td>{{ dog.listopad }}</td>
            <td>{{ dog.grudzien }}</td>
			<td>
				<a class="btn btn-primary btn-xs" v-link="{ path: '/dogs/'+dog.id }">Edit</a>
				<a class="btn btn-primary btn-xs" v-on:click="deleteDog($index)">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
